<!--NAVIGATION-->


[[step06. 변수 학습 page로 이동](step06VariableOperators.ipynb) ] | [[step08.comprehension 학습 page로 이동](step08Comprehension.ipynb) ]

**기호가 의미하는 횟수**

1. 아무것도 없음: 무조건 한 번
2. \+ : 한 번부터 무한대를 의미  ( 1 ~ 무한 )
3. \* : 0번부터 무한대를 의미   ( 0 ~ 무한 )
4. ? : 없거나 또는 한 번   ( 0 또는 1 )

### 함수 구현의 다양한 문법 

- 인수(argument) - 호출 프로그램에 의하여 함수에 전달되는 데이터 값
- 매개변수(parameter) - 인수값을 전달받는 변수

--------------------------------------------------------

- 디폴트 인수 : 함수의 매개 변수가 기본값 보유
- 키워드 인수 : 인수들 앞에 키워드를 두어 인수 구분
- 임의의 인수 목록 : 인자의 개수가 정해지지 않은 가변 인수를 전달
- 람다 함수 : 이름이 없는 한줄짜리 함수 (식을 함수처럼 표현하는 식, 대부분의 프로그램 언어가 가진 기능)

In [2]:
# 반환값이 여러개도 가능. 반환 시 tuple 타입으로 자동 변환되면서 반환
# python은 타입이 실행 시 동적으로 자동 변경 - 동적 타입

def f1():
    return 1, 2

print(f1())

(1, 2)

NoneType

In [3]:
def f1():
    return 1, 2, 3

v = f1()
print(v)
print(type(v))

(1, 2, 3)
<class 'tuple'>

In [4]:
def f2():
    return 'a', 2

print(f2())    # ('a', 2)
v1, v2 = f2()  # 언패킹
print(v1, v2)

('a', 2)
a 2

### 1. 디폴트(default) 인수

In [5]:
# 매개변수 기본 초기화값 활용하는 함수
# 호출 : 함수명(값1), 함수명(값1, 값2)

def fun1(name, age=10):
    print(name, age)

fun1('유재석')
fun1('백종원', 50)

유재석 10
백종원 50

In [6]:
fun1()

TypeError: fun1() missing 1 required positional argument: 'name'

### 2. 키워드 인수

- **kwargs : keyword argument 줄임말
- **kwargs : 키워드=특정값 형태로호출

In [7]:
def fun2(x, y, z):
    return x + y + z

In [8]:
fun2(10, 20, 30)

60

In [9]:
fun2(x=10, y=20, z=30)

60

In [10]:
fun2(z=10, y=20, x=30)

60

In [ ]:
fun2(x=10, y=20, z=30)

In [2]:
# **kwargs 사용
def fun3(**kwargs):
    print(type(kwargs))
    print(kwargs)
    print(kwargs['x'])    # dict 데이터 사용 문법으로 활용
    print(kwargs.items())    # tuple 형식 리스트가 반환되는 함수

In [3]:
fun3(x=10, y=20, z=30)

<class 'dict'>
{'x': 10, 'y': 20, 'z': 30}
10
dict_items([('x', 10), ('y', 20), ('z', 30)])

In [4]:
fun3(x=10, y=20)

<class 'dict'>
{'x': 10, 'y': 20}
10
dict_items([('x', 10), ('y', 20)])

In [30]:
# **kwargs 사용 + 반복문과 items()

def fun4(**kwargs):
#    print(kwargs)
#    print(kwargs.items())

    for i in kwargs:
        print(i, ':', kwargs[i])

In [31]:
fun4(x=10, y=20, z=30)

x : 10
y : 20
z : 30

In [32]:
# **kwargs 사용 + 반복문과 items()

def fun4(**kwargs):
    for k, v in kwargs.items():
        print(k, ':', v)

In [33]:
fun4(x=10, y=20, z=30)

x : 10
y : 20
z : 30

### 3. 임의의 인수

- *를 사용할 경우 인수는 튜퓰 형식
- 가변인자 활용

In [34]:
# args = arguments. 복수형의 인수들.

def fun3(*args, sep='-'):
    print(sep.join(args))    # '-'.join(args)

In [35]:
fun3('a', 'b')

a-b

In [36]:
fun3('a', 'b', 'c')

a-b-c

In [21]:
def fun3(*args):
    print(type(args))
    print(args)

In [22]:
fun3('a', 'b', 'c')

<class 'tuple'>
('a', 'b', 'c')

In [23]:
fun3('a', 'b')

<class 'tuple'>
('a', 'b')

**미션-
일회용 패스워드 생성기를 이용하여서 3개의 패스워드를 생성하여 출력하는 프로그램을 작성해 보기**

출력 예시 : 
    
ouuc4c <br>
uuahtp <br>
79s6oz <br>

In [37]:
# print()는 별도의 표기 없이도 호출해서 사용이 가능한 내장 함수
# import는 제공받은 library이기는 하나 사용 시 사용하겠다는 설정이 필요한 library

# 난수: 정해진 범위 내에서 발생되는 알 수 없는 수
import random   # random이라는 library / moudle 사용하겠다.

# rand(): 난수 발생 기능의 library
# ranndrange(숫자): 숫자 범위 내에서의 실제 난수 발생 시키는 기능의 함수
# 정수 값에 해당하는 난수 발생

print(random.randrange(36)) #0~35

28

In [17]:
alphabet = "abcdefghijklmnopqrstuvwxyz0123456789"
#print(len(alphabet))
alphabet[35]

'9'

random() :0.0 이상 1.0 미만

randrange() : 1에서 6까지의 정수 중 하나를 무작위로 반환

In [38]:
print(random.random())

0.7534796291089699

In [39]:
import random

def genPass():
    # 제공되는 raw 데이터
    alphabet = "abcdefghijklmnopqrstuvwxyz0123456789"
    
    # 뽑힌 6개 데이터를 보유하게 되는 변수
    # 반복을 6번 해서 6개의 문자열 구성
    # 데이터가 적재되는 변수
    password = ""
    
    for i in range(6):
        index = random.randrange(36)
        password = password+alphabet[index]    # password += alphabet[index]

    return password

print(genPass())
print(genPass())
print(genPass())

inafe0
d5hdz2
vl47vt

### 4. 람다 함수 (중요 !!!)

- 이름없이 정의된 익명함수. 표현식.
- 매개변수 제한이 없음, 단 하나의 값만 반환
- 함수의 반환, 변수의 데이터값으로 사용 가능
- list의 sort의 key속성의 값으로도 사용 가능(실전 응용)
- 문법 :<br>
lambda 인자[,..] : 표현식(수식)

- lambda – 식으로 함수처럼 기능을 구현하겠다는 선언의 표기. 이름 없는 함수 또는 식이라 표현.
- arguments – parameter. 식 수행 시 필요로 하는 데이터를 받는 변수.
- : - 식 구분자
- expression – 함수의 실행 로직 영역. 호출한 곳으로 값을 return(돌려줌. 반환)
- 실행 방법은 식을 대입 받은 ‘변수명(값)’으로 호출. return 받은 데이터 활용

In [40]:
def sum(x):
    return x + 10

print(sum(100))

110

In [43]:
sum2 = lambda a : a+10

print(sum2(100))

110

In [44]:
sum3 = lambda a, b : a + b

print(sum3(100, 200))

300

In [1]:
mylist=[1, 5, 3, 9, 8, 4, 2]
mylist.sort()   # 오름차순이 디폴트. 원본 값 수정함.

In [2]:
mylist

[1, 2, 3, 4, 5, 8, 9]

In [31]:
mylist=[ 1, 5, 3, 9, 8, 4, 2]

In [33]:
mylist=[1, 5, 3, 9, 8, 4, 2]

[1, 2, 3, 4, 5, 8, 9]

In [45]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
print(mylist2)

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [46]:
# tuple 내에 2번째 인덱스 value를 기준으로 오름차순 정렬
# a에 대입되는 값이 list 안에 존재하는 각각의 tuple. 

mylist2.sort(key=lambda a : a[2])
mylist2

[('lee', 27, 99), ('kim', 23, 100), ('park', 43, 102)]

In [47]:
mylist2.sort(key=lambda a : a[2], reverse=True)
mylist2

[('park', 43, 102), ('kim', 23, 100), ('lee', 27, 99)]

In [36]:
mylist2 = [('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]
mylist2.sort(key=lambda a : a[0])
mylist2

[('kim', 23, 100), ('lee', 27, 99), ('park', 43, 102)]

In [55]:
# 대소문자 구분 없이 sort 함수로 정렬 
# 람다 사용해서 소문자로 변경해서 정렬 
# .lower()
mylist3 = ['Spam', 'egg', 'Ham']

for i in mylist3:
    print(i.lower())    # 대소문자의 유니코드 또는 아스키 코드의 번호를 고려한 대소문자 맞춤

# 원본 데이터 정렬만 관리
# 람다식으로 처리한 기능은 원본 데이터 활용해서 임시로 변경된 후에 휘발되는 구조
mylist3.sort(key=lambda x : x.lower())

print(mylist3)

spam
egg
ham
['egg', 'Ham', 'Spam']

In [38]:
mydict1 = {'one':1, 'two':2, 'three':3}
sorted(mydict1)

['one', 'three', 'two']

### 5. map() 함수

- 문법 : map(함수이름, 리스트/튜플...)
- 시퀀스의 모든 항목에 함수를 적용한 결과 리스트 반환

In [9]:
def cube(x):
    return x**2    # ** = 제곱

list(map(cube, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
# 람다식 이용
list(map(lambda n : n**2, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
# map(): 다수의 데이터에 공통된 로직을 일괄 처리 가능한 기능의 함수. 반복문 쓰지 않고도 반복하는 기능
# 사용 방법: map(기능보유함수명 or 람다식, 첫번째 parameter로 입력된 기능이 사용할 데이터)
# 대량의 빅데이터 일괄처리 하는 기능의 sw 대표적인 하둡 내부에서도 사용되는 기능

def myfunc(n):
    print(n)
    return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

# print(x): map의 데이터 주소만 출력됨

# convert the map into a list, for readability: map이 보유한 데이터를 사용할 수 있게 가공
print(list(x))

apple
banana
cherry
[5, 6, 6]

In [60]:
def myfunc(n):
    print(n)
    return len(n)

# tuple
x = map(myfunc, ('apple', 'banana', 'cherry'))

print(list(x))

apple
banana
cherry
[5, 6, 6]

In [63]:
def myfunc(n):
    print(n)
    return len(n)

# list
x = map(myfunc, ['apple', 'banana', 'cherry'])

print(list(x))

apple
banana
cherry
[5, 6, 6]

In [64]:
list(map(lambda n : len(n), ['apple', 'banana', 'cherry']))

[5, 6, 6]

In [58]:
for i in range(5):
    print(i**2)

0
1
4
9
16

### 6. reduce() 함수
- 주로 집계용으로 사용
- 사용을 위해서는 functools 모듈 선언
- from (디렉토리명?) import (파일명) 같은 개념

In [3]:
from functools import reduce

'''
x, y
1, 2
3, 3
6, 4
10, 5
==> 15
'''


data = reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
print(data)

15

In [66]:
#상단 reduce에 사용된 lambda의 로직을 단순 python 문법으로 개발한 코드

def userReduce():
    datas = [1, 2, 3, 4, 5]
    result = 0
    
    for i in datas:
        result = result + i
    
    print(result) 
    

userReduce()

15

### 7. filter()

- 데이터의 일부만 착출 가능한 기능의 즉 필터링 기능의 함수
- 시퀀스의 항목들 중 함수 조건이 True인 항목만 추출
- 문법 : filter(함수 or 람다식, 필터링당할데이터들이 담긴 리스트)

list(filter(lambda x : x < 5, range(10)))

**미션** : (123,) 값이 출력될 수 있도록 ? 부분 완성하세요

% 사용해서 나누고 난 나머지 값이 0인 경우로만 필터링

In [75]:
list2 = (10,22,37,41,100,123,29)

tuple(filter(lambda x : x%123 == 0, list2))
tuple(filter(lambda x : x%3 == 0, list2))

(123,)

In [76]:
list(filter(lambda x : x%3 == 0, list2))

[123]

### 8. Collection 함수

- 순서값과 요소값을 한번에 구하는 내장 함수
- 기본 for문을 활용해서 학생 순번에 맞게 list 점수 출력
- enumerate() 활용해서 순서와 요소값을 한번에 튜플로 반환

In [5]:
score = [80, 30, 70, 85, 90]

for no in range(len(score)):
    print(str(no+1) + '번 학생의 성적 : ', score[no])

1번 학생의 성적 :  80
2번 학생의 성적 :  30
3번 학생의 성적 :  70
4번 학생의 성적 :  85
5번 학생의 성적 :  90

In [17]:
# enumerate()함수 사용해서 상단 결과 나올 수 있도록 출력

score = [80, 30, 70, 85, 90]

for i, v in enumerate(score):
#    print(i + '번 학생의 성적: ', v)   ---> error: 숫자랑 문자 + 결합이 안 됨. 타입이 서로 다른 문자열 결합 시에는 print에선 쉼표 사용
    print(i+1, '번 학생의 성적: ', v)    
#   print(str(i+1) + '번 학생의 성적: ', v)   ---> 결합 연산자로 결합 시에는 문자열로 변환 후 출력.

1 번 학생의 성적:  80
2 번 학생의 성적:  30
3 번 학생의 성적:  70
4 번 학생의 성적:  85
5 번 학생의 성적:  90

In [10]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print(list(enumerate(seasons)))

print(list(enumerate(seasons, start=1)))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]
[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

In [12]:
for i in enumerate(seasons):
    print(i)

(0, 'Spring')
(1, 'Summer')
(2, 'Fall')
(3, 'Winter')

In [13]:
for i, v in enumerate(seasons):
    print(i, v)

0 Spring
1 Summer
2 Fall
3 Winter