<!--NAVIGATION-->


[[step01. 기본 연산 학습 page로 이동](step01Calculation.ipynb) ]   |   [[step03_1. 데이터 타입 학습 page로 이동](step03_1DataType.ipynb) ]

## 조건문 & 반복문을 이용한 프로그램 응용력 향상하기

1. 연산자
> 1. =: 오른쪽의 데이터를 왼쪽에 대입(할당) 연산자
> 2. ==: 동등비교 연산자
> 3. != : 부정 연산자

* +=
* -=

2. 조건식
> 1. pass : 아무것도 실행하지 않음, 단순히 실행할 코드가 없다는 의미
> 2. continue : 해당 로직을 제외하고 다음 loop 실행하란 의미

3. 반복문 : 동일한 명령문을 여러번 실행
> 1. for : 정해진 횟수만큼  반복하는 구조<br>
> 2. while : 어떤 조건이 만족되는 동안, 반복을 계속하는 구조

4. 키워드
> 1. def - 사용자 정의 함수를 만들겠다는 선언구
> 2. return - 함수 내부에서 해당 함수를 호출한 곳으로 값을 돌려주는 키워드
> 3. if / elif / else - 조건식
> 4. True / False - boolean 표현

5. IT 언어 표현
> 1. 함수 실행 시 새로운 데이터를 () 표기로 선언된 변수로 받음
> 2. def 함수명(변수선언)
> 3. 변수선언 자체를 parameter 또는 argument 또는 인자 또는 매개인자라고 한다.

In [ ]:
'''
조건문
1. 조건이 true인 경우에만 실행하는 상황

2. 조건이 true인 경우와 false인 경우 실행되는 로직이 명확이 구분되어야 하는 상황

3. 조건이 여러 개인 상황


---
의사 코드
말로 하는 코딩
말로 하는 로직의 흐름을 서술하는 형식
문법은 고려하지 않는 표현
'''

In [3]:
# True인 경우만 고려하는 단일 조건식
if 'a' == 'a':
  print("True인 경우만 실행")

True인 경우만 실행

In [5]:
# True인 경우와 False 경우를 고려하는 조건식
# 기본 syntax는 if else
# : 콜론이라 읽음. 아직 문법 끝난 거 아니라는 뜻   , 콤마    ; 세미콜론(문장 끝 마무리/파이썬에서는 잘 안 함)     []: 있어도 되고 없어도 되는 경우
if 'a' == 'a':
  print("True인 경우만 실행")
else:
  print("조건식이 False인 경우만 실행")

True인 경우만 실행

In [6]:
# 다중 조건식
# 기본 syntax는 if / elif / else (조건문은 여러 개 삽입 가능)
a = 10

if a < 5:
  print("a가 5보다 작다")
elif a <= 10:
  print("10보다 작거나 같다")
else :
  print("이도저도 아니다")

# 위는 하나의 로직
# 항상 동적 데이터가 입력되는 가변적인 상황에 대한 코드를 짠다고 생각하면 됨

10보다 작거나 같다

In [7]:
# 입력하는 id값(실시간 가변적인 동적 데이터)을 받아서 로직 수행 후 검증한 결과값을 client에게 반환
# client는 데이터를 입력 -> 서버에 전송
# server는 데이터를 받음 -> 검증 -> 인증 결과값을 client에게 응답(출력, 리턴)
# 여러 명이 요청하는 로직 - 재사용성 고려해야 함. 한 번 만들어진 코드를 재사용.
# 데이터 받고 - 받을 수 있는 가변적인 문법
# 처리하고 - 조건 비교
# 필요 시 마다 호출해야 하기 때문에 - 이름이 필요하다
# 함수가 필요하다 ~ -> def() = 파이썬의 함수 문법

# python def - 기능을 재사용할 수 있게 구현하는 함수 개발
# def 함수명([new데이터 받을 수 있는 문법 공간]):
#   함수 로직
#   [결과값 반환 로직]

def my_fun(a):
  if a < 5:
   print("a가 5보다 작다")
  elif a <= 10:
   print("10보다 작거나 같다")
  else :
   print("이도저도 아니다")

my_fun(10)

10보다 작거나 같다

In [8]:
my_fun(3)

a가 5보다 작다

In [19]:
# 미션: 실시간 입력되는 데이터는 문자열. playdata라는 문자열에 한해서만 encore가 출력(반환)

def edu_name(msg):
  if msg == 'playdata':
    print('encore')
  else:
    print('틀렸다')

In [20]:
edu_name('playdata')

encore

In [21]:
edu_name('encore')

틀렸다

In [22]:
def edu_name2(msg):
  if msg == 'playdata':
   return 'encore'
  else:
    return '틀렸다'

In [23]:
# 함수 실행 결과값을 받아서 새로운 문자열 조합해서 출력
# 여기서 플러스 기호는 수학적 연산이 아님. 데이터들의 결합임.
print("반환된 결과값" + edu_name2('encore'))

반환된 결과값틀렸다

```
  `: 백틱이라 읽음. 코드 표현할 때 적합.

  print("반환된 결과값" + edu_name2('encore'))
  1. print() : 콘솔창에 출력하는 기능의 내장 함수
  2. edu_name2() : python을 사용하는 개발자를 [python 언어] 사용자가 구현한 함수 = 사용자 정의 함수
  3. 실행 순서
    print() 호출(call) -> "반환된 결과값" 문자열이 메모리에 생성 
    -> 결합 연산자(+) 실행 -> edu_name2('encore') 호출 시작 
    -> encore 문자열 생성 -> edu_name2 함수 실행 
    -> 결합 연산자가 결과값을 결합 -> print() 실행 즉 출력 마무리
```

In [24]:
# 미션) 두 개의 데이터를 받아서 더한 결과값을 반환(return)하는 더하기 (산술연산) 함수 만들기
# 다수의 데이터들은 ,가 구분자
# 두 개의 메모리 필요
# return은 이 기능의 함수를 호출한 곳으로 값을 전달하는 기능을 수행

def my_sum(a, b):
  return a + b

In [25]:
print(my_sum(10, 20))

30

In [26]:
print(my_sum(100, 20))

120

**미션1. 윤년  프로그램을 통한 연산자 및 조건식 이해하기**

- 4로 나누어 떨어지는 년도 : 값 % 4이 0    
- 그 중 100으로 나누어 떨어지는 년도는 윤년이 아님 : 값 % 100 의 0과 비교
- 400으로 나누어 떨어지는 년도는 무조건 윤년 : 1+2 또는 3번째 조건식 비교( 값 % 400와 0 비교)

In [39]:
def leap(year):
  if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 :
    return '윤년'
  else:
    return '윤년아님'

In [40]:
print(leap(2021))

윤년아님

In [41]:
print(leap(2000))

윤년

In [43]:
def leap(year):
    if year % 4 == 0 and year % 100 != 0:
        return '윤년'
    elif year % 400 == 0:
        return '윤년'
    else:
        return '윤년아님'

In [44]:
print(leap(2000))

윤년

In [1]:
# 그리고 와 또는 -> 프로그래밍화
# 조건식에 반영 시 and: 해당 조건들 모두 True인 경우에 유효 (True)
# or: 해당 조건들 중 하나만이라도 True라면 유효

# 조건식1 and 조건식2
# 조건식1 or 조건식2

if 'a' == 'a' and 'b' == 'b':
    print('두 조건 True')

두 조건 True

In [4]:
if 'a' == 'a' or 'b' != 'b':
    print('두 조건 중 하나만 True여도 가능')

두 조건 중 하나만 True여도 가능

In [6]:
if 'a' == 'a' and 'b' != 'b':
    print('두 조건 중 하나만 True여도 가능')
else:
    print('바보')

바보

In [9]:
# id/pw를 인증해주는 함수 - id: encore / pw: 77 만 유효
# 방법1

def login_check(id, pw):
    if id == 'encore' and pw == 77:
        print('인증 성공')
    else:
        print('인증 실패')

In [10]:
login_check('encore', 77)

인증 성공

In [13]:
# 방법2 - 중첩 조건문

def login_check(id, pw):
    if id == 'encore':
        if pw == 77:
            print('인증 성공')
        else:
            print('pw 인증 실패')
    else:
        print('id 인증 실패')

In [14]:
login_check('p', 77)

id 인증 실패

In [15]:
login_check('encore', 78)

pw 인증 실패

In [16]:
v = 'string'
if v:    # v에 데이터가 있는지 없는지를 판단하는 조건식
    print('True')
else:
    print('False')

True

In [17]:
v = '' # 길이가 0인 문자열
if v:
    print('True')
else:
    print('False')

False

In [18]:
# 다수의 데이터들을 하나의 변수로 관리
v = 1   # 하나의 데이터를 보유하게 되는 변수
v2 = [1, 2, 3]   # list 구조의 다수의 데이터 관리. 0, 1, 2, ...의 '고유한' index가 붙는다. list라는 데이터 타입.

v3 = []
if v3:  # 데이터가 없는 list들은 조건식 비교 표현식 없이도 False
    print(True)
else:
    print(False)

False

In [1]:
v = input()  # 실행 시 실시간 입력 가능하게 해주는 함수
print(v)     # 입력된 데이터를 출력
print(type(v))    # 입력되는 모든 데이터는 str(python 문자열)

3
3
<class 'str'>

In [2]:
v = input()   # 실행시 실시간 입력 가능하게 해주는 함수
print(v)      # 입력된 데이터를 출력
print(type(v))  # 입력되는 모든 데이터는 str(python 문자열)
# 사칙 연산과 같은 연산작업이 필수인 경우 str -> 숫자(int or float)
print( type( int(v) ) )   # int() int로 형변환 하는 함수v = input()

3
3
<class 'str'>
<class 'int'>

**미션2. 문자열의 중간 문자를 추출해 보기**

문자열의 중앙에 있는 문자를 출력한다. 예를 들어서 문자열이 "weekday"이라면 중앙의 문자는 "k"가 된다.<br>
하지만 만약 문자열이 짝수개의 문자를 가지고 있다면 중앙의 2개의 글자를 출력한다.<br>
예를 들어서 "string" 문자열에서는 "ri"를 반환한다.

In [3]:
# 문자열의 길이값을 반환
# 문자열 길이 확인 후에 호출한 곳으로 길이값 반환(리턴값)

len('test'), len('string'), len('weekday')

(4, 6, 7)

In [5]:
v = 'string'
c1 = v[0]
c2 = v[2]

print(type(v))   #<class 'str'>
print(type(c1))
v2 = ['a', 'b']
print(type(v2))   # <class 'list'>

<class 'str'>
<class 'str'>
<class 'list'>

In [32]:
# 리스트에서 범위를 표현하는 슬라이스 : --> 콜론 v[0:3]

def findMiddle(v):
    middle = float(len(v))/2
    if middle%2 != 0:
        return v[int(middle-0.5)]
    else:
        return v[int(middle)-1:int(middle)+1]

In [31]:
findMiddle('star')

'ta'

In [33]:
findMiddle('weekday')

'k'

In [50]:
def count(v1):
    v2 = len(v1)
    if v2 % 2 == 1:
        v3 = v2//2
        v4 = v1[v3:v3+1]
        return v1[v3:v3+1]
    else:
        v3 = v2//2 - 1
        v4 = v1[v3:v3+2]
        return v1[v3:v3+2]

In [51]:
count('weekday')

'k'

In [52]:
count('middle')

'dd'

**미션3. 임금 계산해 보기**

사용자에게 근무 시간과 시간당 임금을 물어보고, 주당 근무 시간이 40시간을 넘으면 1.5배의 임금을 지급해야 한다고 가정할 경우<br> 
이번주에 받는 총임금을 계산하는 프로그램을 만들어 보자

In [35]:
def pay(time, wage):
    if time > 40:
        return time*wage*1.5
    else:
        return time*wage

In [36]:
pay(45, 1000)

67500.0

In [37]:
pay(30, 1000)

30000

In [7]:
time = int(input("주당 근무 시간 : "))
wage= int(input("시간당 임금 : "))

if time > 40:
    print((wage*40) + (wage*(time-40)*1.5))
else:
    print(time*wage)

주당 근무 시간 : 45
시간당 임금 : 10000
475000.0

In [49]:
sal(45, 1000)

47500.0

## 반복문

In [9]:
multi = [1, 2, 3, 4, 5]

print(type(multi))
print(multi[4])

<class 'list'>
5

In [11]:
# 다수의 데이터가 존재할 경우 하나씩 뽑아서 화면에 출력하는
# 다수의 데이터가 있어야 하고 -> 하나씩 뽑은 데이터를 관리하는 변수가 있어야 함 -> 출력

# 다수의 데이터 = multi
# 뽑은 데이터를 하나씩만 보유할 수 있는 변수 선언 = one (변수명은 마음대로)

multi = [1, 2, 3, 4, 5]

# 반복문의 syntax
for one in multi:
    print(one)

1
2
3
4
5

In [12]:
for one in multi:
    print(one, end=' ')    # 반복하면서 한 line에 데이터 출력 가능한 속성. 데이터 간 간격 확보.

1 2 3 4 5

In [13]:
for one in multi:
    print(one, end=', ')

1, 2, 3, 4, 5,

In [14]:
# 0부터 100까지 101개의 숫자값을 출력/ line 단위로
# range(): 일정 범위의 숫자값을 자동생성해주는 함수

for data in range(5):
    print(data)

0
1
2
3
4

In [16]:
# 1부터 5까지 숫자값을 출력/ line 단위로
# range(): 일정 범위의 숫자값을 자동생성해주는 함수

for data in range(1, 6):
    print(data)

1
2
3
4
5

In [17]:
for data in range(1, 6, 2):    # stride: 보폭
    print(data)

1
3
5

In [18]:
for i in range(9):   # loop를 종료하는 break
    if i > 3:
        break
    print(i)

0
1
2
3

In [23]:
for i in range(9):   # continue: 조건이 true일 때만 skip하고 계속 반복
    if i > 3:    #4 인 경우가 True
        continue
    print(i)

0
1
2
3

In [20]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [30]:
# 입력되는 숫자값(실시간 가변 데이터, 재사용성)으로 range 함수에 적용해서 그 수만큼 반복
# 단, 반복되는 데이터가 5인 경우에만 스킵

def my_for(v):
    for d in range(v):
        if d == 5:
            continue
        print(d)

In [31]:
my_for(10)

0
1
2
3
4
6
7
8
9

In [41]:
# 1
# 새로 오픈한 오픈 이벤트를 진행한다.
# 방문한 손님 순서대로 10의 배수마다 마우스를, 100의 배수마다 모니터를 준다.
# 이벤트가 중복될 경우 모니터만 제공한다.
# 모니터 수 : 5, 마우스 수 : 50 이고 소진되면 이벤트는 종료된다.
# 초기 방문자 수를 입력받는다.
# 출력으로는 이벤트에 해당되는 방문자 순서와 제공받는 물품의 항목이 되도록 하라.



def event(cus_num):
    mouse = 50
    monitor = 5
    for visit in range(1, cus_num+1):
        if mouse == 0 and monitor == 0:
            break

        if visit%10 == 0:
            if visit%100 == 0:
                if monitor == 0:
                    continue
                monitor -= 1
                print(visit, "번째 손님 모니터 당첨입니다.")
            else:
                if mouse == 0:
                    continue
                mouse -= 1
                print(visit, "번째 손님 마우스 당첨입니다.")

In [42]:
event(1000)

10 번째 손님 마우스 당첨입니다.
20 번째 손님 마우스 당첨입니다.
30 번째 손님 마우스 당첨입니다.
40 번째 손님 마우스 당첨입니다.
50 번째 손님 마우스 당첨입니다.
60 번째 손님 마우스 당첨입니다.
70 번째 손님 마우스 당첨입니다.
80 번째 손님 마우스 당첨입니다.
90 번째 손님 마우스 당첨입니다.
100 번째 손님 모니터 당첨입니다.
110 번째 손님 마우스 당첨입니다.
120 번째 손님 마우스 당첨입니다.
130 번째 손님 마우스 당첨입니다.
140 번째 손님 마우스 당첨입니다.
150 번째 손님 마우스 당첨입니다.
160 번째 손님 마우스 당첨입니다.
170 번째 손님 마우스 당첨입니다.
180 번째 손님 마우스 당첨입니다.
190 번째 손님 마우스 당첨입니다.
200 번째 손님 모니터 당첨입니다.
210 번째 손님 마우스 당첨입니다.
220 번째 손님 마우스 당첨입니다.
230 번째 손님 마우스 당첨입니다.
240 번째 손님 마우스 당첨입니다.
250 번째 손님 마우스 당첨입니다.
260 번째 손님 마우스 당첨입니다.
270 번째 손님 마우스 당첨입니다.
280 번째 손님 마우스 당첨입니다.
290 번째 손님 마우스 당첨입니다.
300 번째 손님 모니터 당첨입니다.
310 번째 손님 마우스 당첨입니다.
320 번째 손님 마우스 당첨입니다.
330 번째 손님 마우스 당첨입니다.
340 번째 손님 마우스 당첨입니다.
350 번째 손님 마우스 당첨입니다.
360 번째 손님 마우스 당첨입니다.
370 번째 손님 마우스 당첨입니다.
380 번째 손님 마우스 당첨입니다.
390 번째 손님 마우스 당첨입니다.
400 번째 손님 모니터 당첨입니다.
410 번째 손님 마우스 당첨입니다.
420 번째 손님 마우스 당첨입니다.
430 번째 손님 마우스 당첨입니다.
440 번째 손님 마우스 당첨입니다.
450 번째 손님 마우스 당첨입니다.
460 번째 손님 마우스 당첨입니다.
470 번째 손님 마우스 당첨입니다.
480 번째 손님 마우스 당첨입니다.
490 번째 손님 마우스 당첨입니다.
500 번째 손님 모니터 당첨입니다.
510 번째 손님 마우스 당첨입니다.
520 번째 손님 마우스 당첨입니다.
530 번째 손님 마우스 당첨입니다.
540 번째 손님 마우스 당첨입니다.
550 번째 손님 마우스 당첨입니다.

In [55]:
# 2
# 중간고사를 실시해서 커트라인 점수 이상이면 advanced , 커트라인 이하면 basic 반으로 구분된다
# 초기 학생 수와 그에 따른 성적을 입력받는다
# 출력으로 adv, basic 인원을 출력하라


def midterm():
    cutline = 70

    student_num = int(input())
    score = list(map(int, input().split()))
    
    adv_num = 0
    basic_num = 0
        
    for i in range(0, student_num):

        if score[i] >= cutline:
            adv_num += 1
        else:
            basic_num += 1
    print("advance반의 학생 수는", adv_num)
    print("basic반의 학생 수는", basic_num)

In [56]:
midterm()

5
10 20 30 40 80
advance반의 학생 수는 1
basic반의 학생 수는 4

In [ ]:
midterm()

**미션 - 숫자로 pyramid 만들기**

- 중첩 for문과 range() 함수 활용
- 함수로 구현

In [84]:
# 중첩반복문

def pyramid(v):
    
    for i in range (1, v+1):     # outer loop
        
        for j in range(i):       # inner loop
            print(i, end=' ')
            
        print()   # blank new line

In [85]:
pyramid(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

**미션- 팩토리얼 계산하기**
>반복문을 활용하여 팩토리얼 계산해 보기<br>
for문과 while문을 활용하여 각각 만들어 보기<br>
팩토리얼 n!은 1~n까지의 정수를 모두 곱한 것을 의미한다<br>
n! = 1*2*3*...(n-1)*n

>힌트 : range() 함수를 이용

In [100]:
def factorial(v):
    
    fact = 1
    
    for i in range (1, v+1):
        fact = fact * i
    print(fact)

In [101]:
factorial(5)

120

In [103]:
def factorial(v):
    
    fact = 1
    
    for i in range (1, v+1):
        fact = fact * i
    print(v, '!은', fact)

In [105]:
factorial(4)

4 !은 24

**미션-계좌번호 처리하기**

> 인터넷 뱅킹을 사용하다보면 계좌번호를 입력할 때, "312-02-1234567"과 사용자로부터 "-"가 포함된 계좌 번호를 받아서 "-"을 삭제한 문자열을 만들어보자.

In [106]:
data = 'string'

# 문자열도 반복문에 적용 가능
# 문자열의 철자 개수만큼 반복해서 하나씩 뽑음

for v in data:
    print(v)   # print = 출력 + new line 자동 반영 (new line 무시 표현: , end=' ')

s
t
r
i
n
g

In [117]:
raw =  str(input("계좌번호를 입력하세요: "))
final_data = ''

for v in raw:
    if v != '-':
        final_data = final_data+v
        
print(final_data)

계좌번호를 입력하세요: 312-02-1234567
312021234567

In [111]:
acc = str(input("계좌번호를 입력하세요: "))

for i in acc:
    if i == '-':
        continue
    else:
        print(i, end='')

계좌번호를 입력하세요: 312-02-1234567
312021234567

**미션 - 알파벳, 숫자, 스페이스의 처리**

> 문자열을 조사하여서 알파벳 문자의 개수, 숫자의 개수, 스페이스의 개수를 출력하는 프로그램을 작성하라

In [123]:
statement = input("문자열을 입력하시오: ")
alphas = 0
digits = 0
spaces = 0
for c in statement:
    if c.isalpha():
        alphas = alphas + 1
    if c.isdigit():
        digits = digits + 1
    if c.isspace():
          spaces = spaces + 1
print ("알파벳 문자의 개수=", alphas)
print ("숫자 문자의 개수=", digits)
print ("스페이스  문자의 개수=", spaces)

문자열을 입력하시오: hi 안녕 33
알파벳 문자의 개수= 4
숫자 문자의 개수= 2
스페이스  문자의 개수= 2

In [124]:
# 다중 조건식으로 실행 속도, 성능 향상위해 개선한 코드

statement = input("문자열을 입력하시오: ")

# 개수 counting을 위한 변수 선언, 0으로 초기화
alphas = 0
digits = 0
spaces = 0

for c in statement:
    if c.isalpha():           # isalpha 함수: 문자열이 문자인지 아닌지를 True, False로 리턴
        alphas = alphas + 1
        
    elif c.isdigit():           # isdigit 함수: 문자열이 숫자인지 아닌지를 True, False로 리턴
        digits = digits + 1
        
    elif c.isspace():           # isspace 함수: 문자열이 space인지 아닌지를 True, False로 리턴
          spaces = spaces + 1
        

print ("알파벳 문자의 개수=", alphas)
print ("숫자 문자의 개수=", digits)
print ("스페이스  문자의 개수=", spaces)

문자열을 입력하시오: hi 안녕 333
알파벳 문자의 개수= 4
숫자 문자의 개수= 3
스페이스  문자의 개수= 2

In [121]:
for c in ['ㅁ', 'ㅠ']:
    print(c.isalpha())

True
True

**실행 결과와 비교해 보면서 분석해 보기**

In [ ]:
for a in range(1, 101, 1):
    for b in range(1, 101, 1):
        for c in range(1, 101, 1):
            if( (a*a+b*b)==c*c ):
                print(a, b, c)

3 4 5
4 3 5
5 12 13
6 8 10
7 24 25
8 6 10
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 5 13
12 9 15
12 16 20
12 35 37
13 84 85
14 48 50
15 8 17
15 20 25
15 36 39
16 12 20
16 30 34
16 63 65
18 24 30
18 80 82
20 15 25
20 21 29
20 48 52
21 20 29
21 28 35
21 72 75
24 7 25
24 10 26
24 18 30
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 21 35
28 45 53
28 96 100
30 16 34
30 40 50
30 72 78
32 24 40
32 60 68
33 44 55
33 56 65
35 12 37
35 84 91
36 15 39
36 27 45
36 48 60
36 77 85
39 52 65
39 80 89
40 9 41
40 30 50
40 42 58
40 75 85
42 40 58
42 56 70
44 33 55
45 24 51
45 28 53
45 60 75
48 14 50
48 20 52
48 36 60
48 55 73
48 64 80
51 68 85
52 39 65
54 72 90
55 48 73
56 33 65
56 42 70
57 76 95
60 11 61
60 25 65
60 32 68
60 45 75
60 63 87
60 80 100
63 16 65
63 60 87
64 48 80
65 72 97
68 51 85
70 24 74
72 21 75
72 30 78
72 54 90
72 65 97
75 40 85
76 57 95
77 36 85
80 18 82
80 39 89
80 60 100
84 13 85
84 35 91
96 28 100